.header {
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.logo {
  margin: 5px 20px;
}
.header_bottom{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header_links {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
.cart_div {
  width: 100%;
  display: inline-block;
  text-align: left;
}
.cart_btn{
  width: fit-content;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  margin-left: 20px;
}
.active_header_link {
  color: #e53253;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin: 5px 20px;
}
.header_link {
  color: #717171;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin: 5px 20px;
}
