.header {
  width: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header img {
  margin: 10px 0px;
}
.header_links{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart_div{
  width: 100%;
}
.active_header_link {
  color: #e53253;
  text-decoration: none;
  font-weight: 500;
  margin: 5px 10px;
  font-size: 14px;
}
.header_link {
  color: #717171;
  text-decoration: none;
  font-weight: 500;
  margin: 5px 10px;
  font-size: 14px;
}
