.footer {
  width: 100%;
  background-color: white;
}
.footer_content {
  width: 90%;
  margin: 0px auto;
}
.footer_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer_top p {
  width: 300px;
}
.footer_top div {
  flex: 1;
  margin: 0px 40px;
}
.footer_bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer_bottom p{
  color: #717171;
  margin: 10px 0px;
}
.footer_social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.footer_icons {
  margin: 5px auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer_content hr {
  border: 0.3px solid #ebebeb;
  margin: 20px;
}
